<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Shop - Cart Review</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
</head>

<body>

<div class="jumbotron text-center">
    <h1>Shopping Cart</h1>
</div>


<!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">-->
<div class="container">
    <div class="well well-sm text-right">
        <a class="btn btn-success" href="index" role="button">Main Page</a>
    </div>

    <table id="cart" class="table table-hover table-condensed">
        <thead>
        <tr>
            <th style="width:50%">Product</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${cartitems}">
            <td data-th="Product">
                <div class="row">
                    <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100"
                                                         th:attr="src='/img/product_' + ${item.getProduct().id} + '.jpg'"
                                                         alt="" class="img-responsive"/></div>
                    <div class="col-sm-10">
                        <h4 class="nomargin" th:text="${item.getProduct().name}">Product Name</h4>
                        <p th:text="${item.getProduct().getDescription()}">Product description</p>
                    </div>
                </div>
            </td>
            <td data-th="Price" th:text="${item.getProduct().getPrice()}">Price</td>
            <td data-th="Quantity">
                <form action="setitemamount" method="post">
                    <input th:name="${item.getProduct().id}" type="number" class="form-control text-center"
                           th:value="${item.getAmount()}"></input>
                    <button class="btn btn-info btn-sm btn-group-justified"><i class="glyphicon glyphicon-refresh"></i>
                    </button>
                </form>
            </td>
            <td data-th="Subtotal" class="text-center"
                th:text="${#numbers.formatDecimal(item.getProduct().getDefaultPrice()*item.getAmount(), 0, 'COMMA', 2, 'POINT')}">Subtotal
            </td>
            <td>
                <form action="/removeitem" method="post">
                    <button class="btn btn-danger btn-sm" th:name="${item.getProduct().id}"><i
                            class="glyphicon glyphicon-trash"></i></button>
                </form>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="visible-xs">
            <td class="text-center"><strong>Total</strong></td>
        </tr>
        <tr>
            <td><a href="index" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
            <td th:text="${'Total quantity: '+totalquantity}"></td>
            <td th:text="${'Total price: '+totalprice}"></td>
            <td><a href="/checkout" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

<div th:replace="footer :: copy"></div>

</body>
</html>